/*NullStyle*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {
	font-family: inherit;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
/*--------------------------------------*/
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #5A5560;
	font-size: 1rem;
	color: #fff;
}
.bayan {
	margin: 0 auto;
	padding: 4% 2%;
}
.bayan__title {
	color: #FAED26;
	font-size: 1.8rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 5%;
}
.bayan__tab {
	border: 1px solid #fff;
	border-radius: 8px;
	margin-bottom: 2.5%;
	padding: 1% 2.5%;
}
.tab-bayan__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	transition: all 0.3s ease 0s;
	min-height: 2em;

}
.tab-bayan__title p {
	flex: 0 1 auto;
	padding-right: 2%;
	overflow: hidden;
}
.tab-bayan__cross {
	flex: 0 0 5%;
}
.tab-bayan__cross img {
	max-width: 100%;
}
.tab-bayan__mem {
	margin: 0 auto;
	padding: 1% 0;
	overflow: hidden;
}
.tab-bayan__mem img{
	max-width: 100%;
	border: 2px solid #46344E;
	border-radius: 1.5%;
}

/*Functional menu*/
.tab-bayan input,
.tab-bayan__mem {
	display: none;
}
.tab-bayan :checked ~ .tab-bayan__mem {
	display: block;
	transition: all 0.3s ease 0s;
}
.tab-bayan :checked ~ .tab-bayan__title span {
	/* transform: rotate(45deg); */
	transition: all 0.3s ease 0s;
}
.tab-bayan :checked + .tab-bayan__title {
	/* background-color: #46344E;
	border-radius: 8px 8px 0 0; */
	color: #FAED26;
}

/* .bayan :hover ~ .bayan__tab .tab-bayan__title {
	color: #FAED26;
} */
.bayan:hover .tab-bayan.tab-bayan__title span {
	display: block;
}
/*--------------------------------------*/

/*tablet*/
@media (min-width: 35.4em) {
	.bayan__tab, .tab-bayan__title {
		cursor: pointer;
	}
	body{
		font-size: 1.25rem;
	}
	.bayan {
		max-width: 39.375rem;
	}
	.bayan__title {
		font-size: 2.4rem;
	}
	.tab-bayan__mem {
		width: 80%;
	}
}
/*desktop */
@media (min-width: 62em) {
	body{
		font-size: 1.5rem;
	}
	.bayan {
		max-width: 51.875rem;
		padding: 4% 1.2%;
	}
	.bayan__title {
		font-size: 3rem;
	}
	.tab-bayan__mem {
		width: 60%;
	}
	.bayan {
		padding: 2%;
	}
}